@use "../../01_abstract/media_queries" as mq;

.mission_section{
  display: flex;
  padding: 6rem;
  align-items: center;
  column-gap: 10rem;

  @include mq.responsive('xl')
  {
    column-gap: 6rem;
  }
  @include mq.responsive('lg')
  {
    flex-direction: column;
    padding: 3rem 6rem;
    row-gap: 5rem;
  }
  @include mq.responsive('md')
  {
    flex-direction: column;
    padding: 3rem 4rem;
    row-gap: 5rem;
  }
  @include mq.responsive('sm')
  {
    flex-direction: column;
    padding: 3rem;
    row-gap: 5rem;
  }
  @include mq.responsive('xs')
  {
    flex-direction: column;
    padding: 3rem;
    row-gap: 5rem;
  }
  @include mq.responsive('xxs')
  {
    flex-direction: column;
    padding: 3rem;
    row-gap: 5rem;
  }

  &_circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
  
    &_logo{
      background-size: cover;
      width: 370px;
      aspect-ratio: 1/1;
      border-radius: 50%;

      @include mq.responsive('xl')
      {
        width: 260px;
      }
      @include mq.responsive('sm')
      {
        width: 320px;
      }
      @include mq.responsive('xs')
      {
        width: 290px;
      }
      @include mq.responsive('xxs')
      {
        width: 260px;
      }
    }
  
    &_text{
      position: absolute;
      width: 100%;
      height: 100%;
      animation: rotate 10s linear infinite;
      
      p{
        span{
          position: absolute;
          font-family: 'IBM Plex Mono', monospace;
          font-size: 1.2rem;
          left: 50%;
          pointer-events: none;
          transform-origin: 0 185px; /* half of &_logo width(400px) */ 

          @include mq.responsive('xl')
          {
            transform-origin: 0 130px;
            font-size: 1rem;
          }
          @include mq.responsive('md')
          {
            font-size: 1.2rem;
          }
          @include mq.responsive('sm')
          {
            transform-origin: 0 160px;
            font-size: 1.1rem;
          }
          @include mq.responsive('xs')
          {
            transform-origin: 0 145px;
            font-size: 1.1rem;
          }
          @include mq.responsive('xxs')
          {
            transform-origin: 0 130px;
            font-size: 1rem;
          }
        }
      }
    }
    @keyframes rotate {
      0% {transform: rotate(0)}
      100% {transform: rotate(-360deg)}
    }
  }

  &_desc{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    &_content{
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      pointer-events: none;

      &_head{
        font-size: 2.4rem;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;

        @include mq.responsive('xl')
        {
          font-size: 2rem;
        }
        @include mq.responsive('md')
        {
          font-size: 2.2rem;
        }
        @include mq.responsive('sm')
        {
          font-size: 2rem;
        }
        @include mq.responsive('xs')
        {
          font-size: 1.9rem;
        }
        @include mq.responsive('xxs')
        {
          font-size: 1.8rem;
        }

        &_stripes{
          width: 180px;
          aspect-ratio: 4/3;
          position: absolute;
          top: -50px;
          left: -170px;

          @include mq.responsive('xl')
          {
            width: 100px;
            top: -20px;
            left: -100px;
          }
          @include mq.responsive('lg')
          {
            width: 130px;
            top: -110px;
            left: 0;
          }
          @include mq.responsive('md')
          {
            width: 110px;
            top: -90px;
            left: 0;
          }
          @include mq.responsive('sm')
          {
            width: 100px;
            top: -85px;
            left: 0;
          }
          @include mq.responsive('xs')
          {
            width: 80px;
            top: -70px;
            left: 0;
          }
          @include mq.responsive('xxs')
          {
            width: 80px;
            top: -80px;
            left: 0;
          }
        }
      }

      &_about{
        font-size: 1.2rem; 
        font-weight: 300;
        line-height: 1.4;

        @include mq.responsive('xl')
        {
          font-size: 1.1rem;
        }
        @include mq.responsive('sm')
        {
          font-size: 1.1rem;
        }
        @include mq.responsive('xs')
        {
          font-size: 1rem;
        }
        @include mq.responsive('xxs')
        {
          font-size: 1rem;
        }
      }
    }

    &_buttons{
      display: flex;
      column-gap: 3rem;

      @include mq.responsive('xl')
      {
        column-gap: 2rem;
      }
      @include mq.responsive('md')
      {
        column-gap: 2rem;
      }
      @include mq.responsive('sm')
      {
        column-gap: 2rem;
      }
      @include mq.responsive('xs')
      {
        flex-direction: column;
        row-gap: 1.5rem;
      }
      @include mq.responsive('xxs')
      {
        flex-direction: column;
        row-gap: 1.5rem;
      }

      &_link1, &_link2{
        text-decoration: none;

        &_button1, &_button2{
          font-size: 1.5rem;
          font-weight: 700;
          padding: 0.7rem 1.5rem;
          cursor: pointer;
          background-color: black;
          color: white;
          border: none;
          display: flex;
          align-items: center;
          column-gap: 1rem;
          border-radius: 10px;
          text-transform: uppercase;

          @include mq.responsive('xl')
          {
            font-size: 1.1rem;        
            padding: 0.7rem 1.2rem;    
          }
          @include mq.responsive('md')
          {
            font-size: 1.2rem;        
            padding: 0.7rem 1.2rem;    
          }
          @include mq.responsive('sm')
          {
            font-size: 1.2rem;        
            padding: 0.7rem 1.2rem;    
          }
          @include mq.responsive('xs')
          {
            font-size: 1.1rem;        
            padding: 0.7rem 1.2rem;    
          }
          @include mq.responsive('xxs')
          {
            font-size: 1rem;        
            padding: 0.7rem 1.2rem;    
          }

          &_icon1, &_icon2{
            font-size: 2.2rem;
            transition: transform 0.4s;

            @include mq.responsive('xl')
            {
              font-size: 1.35rem;
            }
            @include mq.responsive('md')
            {
              font-size: 1.55rem;
            }
            @include mq.responsive('sm')
            {
              font-size: 1.55rem;
            }
            @include mq.responsive('xs')
            {
              font-size: 1.5rem;
            }
            @include mq.responsive('xxs')
            {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}